.asdf{
    border-width: 20px;
    border-style: groove;
    border-color: black;
    background-color: darkcyan;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    width:  200px;
}